<% include header %>
<% include nav %>
<div class="wrapper">
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="title">Your Remaining Tasks</h4>
                <p class="category">Last Updated 2 Hours Ago</p>
            </div>
            <div class="card-content table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                        <th>ID</th>
                        <th>Task</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button><a href="/mytasks">View All Tasks</a></button>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="title">Tickets</h4>
                <p class="category">Last Updated 2 Hours Ago</p>
            </div>
            <div class="card-content table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                        <th>Ticket ID</th>
                        <th>Assigned To</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>T001</td>
                            <td>N/A</td>
                            <td>Initial</td>
                        </tr>
                        <tr>
                            <td>T002</td>
                            <td>N/A</td>
                            <td>Initial</td>
                        </tr>
                        <tr>
                            <td>T003</td>
                            <td>N/A</td>
                            <td>N/A</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button><a href="/tickets">View All Tickets</a></button>
        </div>
    </div>     
</div>

<% include footer %>