    <!--Navigation Menu-->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
    <span class="navbar-toggler-icon"></span>
  </button>
        <a class="navbar-brand" href="/">Graduate Application System</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown btn">
                    <a class="nav-link dropdown-toggle btn" id="navbarDropdownMenuLink1" data-toggle="dropdown">Tickets</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/tickets">Create a New Ticket</a>
                        <a class="dropdown-item" href="/tickets">View All Tickets</a>
                        <a class="dropdown-item" href="/tickets">Update a Ticket</a>
                        <a class="dropdown-item" href="/tickets">Delete a Ticket</a>
                    </div>
                </li>
                <li class="nav-item dropdown btn">
                    <a class="nav-link dropdown-toggle btn" id="navbarDropdownMenuLink2" data-toggle="dropdown">Tasks</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/createTask">Create A New Task</a>
                        <a class="dropdown-item" href="/mytasks">View Tasks</a>
                        <a class="dropdown-item" href="/mytasks">Update Tasks</a>
                        <a class="dropdown-item" href="/mytasks">Remove Tasks</a>
                    </div>
                </li>
                <li class="nav-item dropdown btn">
                    <a href="/logout">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>