<% include header %>
<% include nav %>
<div class="wrapper">
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="title">My Tasks</h4>
                <p class="category">Last Updated 2 Hours Ago</p>
            </div>
            <div class="card-content table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                        <th>ID</th>
                        <th>Task</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button>Create New Task</button><button>Update Existing Task</button>
        </div>
    </div>        
</div>

<% include footer %>