<% include header %>
<% include nav %>
<div class="wrapper">
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="title">Tickets</h4>
                <p class="category">Last Updated 2 Hours Ago</p>
            </div>
            <div class="card-content table-responsive">
                <table class="table table-hover">
                    <thead class="text-info">
                        <th>Ticket ID</th>
                        <th>Assigned To</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>T001</td>
                            <td>N/A</td>
                            <td>Initial</td>
                        </tr>
                        <tr>
                            <td>T002</td>
                            <td>N/A</td>
                            <td>Initial</td>
                        </tr>
                        <tr>
                            <td>T003</td>
                            <td>N/A</td>
                            <td>N/A</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button>Create New Ticket</button><button>Update Existing Ticket</button>
        </div>
    </div>        
</div>

<% include footer %>